version: "3"

services: 
  frontend:
      container_name: zmt_frontend
      build:
        context: ./
        dockerfile: Dockerfile
      env_file: 
        - .env
      volumes: 
        - ./:/usr/src/app
        - /usr/src/app/node_modules
      ports: 
        - $REACT_PORT:3000
      