REACT_PORT=
REACT_APP_REST_API_HOSTNAME=
REACT_APP_REST_API_PORT=
REACT_APP_APPBAR_LOGO=iRODS-logo.jpg
REACT_APP_LOGIN_LOGO=iRODS-logo-1.png
REACT_APP_BRANDING_NAME=Zone Management Tool
REACT_APP_PRIMARY_COLOR='#04bdaf'