.MuiTableSortLabel-icon { opacity: 0.2; }

.app_body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 5vh;
    color: #224;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0.5vh;
}

.app_footer_logo{
    width: 3vw;
    margin-right: 5px;
}

.app_footer_text{
    text-decoration: none;
}

.app_footer_text:visited{
    color: black;
}

.app_wrap {
    flex-grow: 1;
}

.connection_container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    font-size: 1rem;
}

.connection_text_status{
    display: flex;
    justify-content: space-between;
}

.connection_title {
    padding-bottom: 20px;
}

.connection_timestamp {
    padding: 5px;
}

.green_dot {
    height: 15px;
    width: 15px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.green {
    color: #04d1c2
}

.red {
    color: #ff0000
}

.grey_out {
    opacity: 0.4;
}

.hidden {
    display: none;
}

.red_dot {
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.pointer {
    cursor: pointer;
}


.edit_container {
    overflow-y: scroll;
}

.edit_filter_bar{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.server_provider{
    border-left: 10px solid #04d1c2;
    height: 68px;
    margin-right: 10px;
}

.server_consumer{
    border-left: 10px solid #808080;
    height: 68px;
    margin-right: 10px;
}

.server_role_container{
    display: flex;
    align-items: center;
}

.resource_tree_header {
    display: flex;
}

.resource_tree_header_right{
    position: absolute;
    right: 50px;
}

.resource_tree_parent_info {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}

.resource_tree_status {
    padding-left: 15px;
}

.resource_tree_container {
    display: flex;
    height: max-content;
}

.resource_tree {
    flex: 1 0 80%;
    margin: 10px;
    min-height: 100%;
    overflow: scroll;
}

.resource_tree_notifcations {
    width: 400px;
    font-size: 14px;
}

.resource_tree_status {
    text-align: center;
}