.MuiTableSortLabel-icon { opacity: 0.2; }

.app_body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 5vh;
    color: #224;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0.5vh;
}

.app_footer_logo{
    width: 3vw;
    margin-right: 5px;
}

.app_footer_text{
    text-decoration: none;
}

.app_footer_text:visited{
    color: black;
}

.app_wrap {
    flex-grow: 1;
}

.connection_container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    font-size: 1rem;
}

.connection_text_status{
    display: flex;
    justify-content: space-between;
}

.connection_title {
    padding-bottom: 20px;
}

.connection_timestamp {
    padding: 5px;
}

.green_dot {
    height: 15px;
    width: 15px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.hidden {
    display: none;
}

.red_dot {
    height: 15px;
    width: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.pointer {
    cursor: pointer;
}


.edit_container {
    overflow-y: scroll;
}

.edit_filter_bar{
    display: flex;
    align-items: baseline;
    justify-content: center;
}